.header {
  padding: 15px;
}

ion-header h1 {
  font-size: 2.3em;
  padding: 10px;
}

.arrow-button {
  font-size: 2em;
  color: #000;
  text-decoration: none;
}

.save-button {
  font-size: 1.5em;
  color: #000;
  text-decoration: none;
}

.form-format {
  padding: 35px;
}

input {
  color: black;
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
}

label {
  padding: 5px;
}

.botao-entrar{
  border: none;
  background: #f2f2f2;
  color: black;
  font-size: 1.4em;
}
