<ion-header>
  
  <ion-toolbar color= "black">
    <ion-searchbar (ionFocus)="setShowSearch(true)" placeholder="Para onde você vai?" 
                    [(ngModel)]="queryText" 
                    (ionInput)="FilterCidade($event)" 
                    showCancelButton ="blur"
                    clearInput>
    </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div *ngIf="!ShowSearch">  
 <div class="card-lg">
  <ion-row>
    <ion-col size="auto">
      <ion-img src= "https://images.pexels.com/photos/3051551/pexels-photo-3051551.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <h1 class="card-lg">Anfitriões<br> fazem acontecer.</h1>
    </ion-col>
  </ion-row>
</div>


  <h1>&nbsp;Sujestões&nbsp;</h1>

  <ion-slides [options]="slideOpts">
    <ion-slide>
      <ion-row>
        <ion-col>
        
        <ion-item>
          <ion-avatar slot="start">
            
            <img src="https://www.flaticon.com/svg/vstatic/svg/3175/3175132.svg?token=exp=1618583221~hmac=ee105f03e7a7af797b800e5e87ccb84b">
          </ion-avatar>
          <ion-label>São Sebastião</ion-label>
        </ion-item> 

        </ion-col>
        <ion-col>
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://www.flaticon.com/svg/vstatic/svg/3175/3175218.svg?token=exp=1618583221~hmac=811503a41765de4ef6130cf218e13cd4">
            </ion-avatar>
            <ion-label>Guarujá</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://www.flaticon.com/svg/vstatic/svg/3175/3175239.svg?token=exp=1618583221~hmac=bcda38342b5a911f8fc13411f5cc1d24">
          </ion-avatar>
          <ion-label>Campos do Jordão</ion-label>
        </ion-item> 

        </ion-col>
        <ion-col>
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://www.flaticon.com/svg/vstatic/svg/119/119598.svg?token=exp=1618501762~hmac=23df19d38bfc1d2cb655bfd63d1d4030">
            </ion-avatar>
            <ion-label>Paraty</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-slide>
    <ion-slide>
      <ion-row>
        <ion-col>
        
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://www.flaticon.com/svg/vstatic/svg/119/119598.svg?token=exp=1618501762~hmac=23df19d38bfc1d2cb655bfd63d1d4030">
          </ion-avatar>
          <ion-label>São Roque</ion-label>
        </ion-item> 

        </ion-col>
        <ion-col>
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://www.flaticon.com/svg/vstatic/svg/3175/3175138.svg?token=exp=1618171216~hmac=40d59c647e40d77581036c584fb9c7e5">
            </ion-avatar>
            <ion-label>Socorro</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
        
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://www.flaticon.com/svg/vstatic/svg/3175/3175199.svg?token=exp=1618583017~hmac=40abb3f05825308f45998e5fe098cdb4">
          </ion-avatar>
          <ion-label>Santos</ion-label>
        </ion-item> 

        </ion-col>
        <ion-col>
          <ion-item>
            <ion-avatar slot="start">
              <img src="https://www.flaticon.com/svg/vstatic/svg/3175/3175218.svg?token=exp=1618171686~hmac=fde08e068ad340a3e358bb7900469f30">
            </ion-avatar>
            <ion-label>Campinas</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-slide>
  </ion-slides>

  <h1>&nbsp;Lugares mais procurados&nbsp;</h1>

  <ion-slides [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <ion-img src="https://images.pexels.com/photos/209315/pexels-photo-209315.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"></ion-img>
        <hr>
        <ion-card-title>Casa Floresta Encantada</ion-card-title>
        <ion-card-subtitle><ion-icon name="map-outline" color="primary"></ion-icon>São Roque &nbsp;<ion-icon name="star" color="primary"></ion-icon>4.86 &nbsp; <ion-icon name="diamond-outline" color="primary"></ion-icon>Superhost</ion-card-subtitle>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-img src="https://images.pexels.com/photos/277667/pexels-photo-277667.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"></ion-img>
        <hr>
        <ion-card-title>Casa Rio Pequeno</ion-card-title>
        <ion-card-subtitle><ion-icon name="map-outline" color="primary"></ion-icon>Guarujá &nbsp; <ion-icon name="star" color="primary"></ion-icon>4.90 &nbsp; <ion-icon name="diamond-outline" color="primary"></ion-icon>Superhost</ion-card-subtitle>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <ion-img src="https://images.pexels.com/photos/1029599/pexels-photo-1029599.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"></ion-img>
        <hr>
        <ion-card-title>Casa Bosque das Flores</ion-card-title>
        <ion-card-subtitle><ion-icon name="map-outline" color="primary"></ion-icon>Santos &nbsp; <ion-icon name="star" color="primary"></ion-icon>3.98 &nbsp; <ion-icon name="diamond-outline" color="primary"></ion-icon>Superhost</ion-card-subtitle>
      </ion-card>
    </ion-slide>
  </ion-slides>

</div>
  <ion-list *ngIf="ShowSearch">
    
    <ion-item *ngFor="let cidade of cidades" > 
      <ion-card>
        <ion-img src="{{cidade.foto}}"></ion-img>
          <hr>
          <ion-card-title>{{cidade.name}}</ion-card-title>
          <ion-card-subtitle><ion-icon name="map-outline" color="primary"></ion-icon>{{cidade.locais}} &nbsp; <ion-icon name="star" color="primary"></ion-icon> {{cidade.nota}}</ion-card-subtitle>      
        <ion-card-content>
          {{cidade.descricao}}
        </ion-card-content>
        <ion-button routerLink="/detalhes">Ver Detalhes</ion-button>
      </ion-card>

    </ion-item>
  </ion-list>
  <h6 class="cd19-news"><a href="">Confira as últimas informações sobre nossas respostas à COVID-19</a></h6>
</ion-content>

<ion-footer>
  <ion-segment>
    <ion-segment-button routerLink= "/dados-pessoais">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button routerLink= "/login">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
<script src="lodash.js"></script>