ion-header{
    background-color: black;
}
ion-toolbar{
    padding: 0;
}
div.card-lg{
    background-color:black;
}
h1.card-lg{
    color:white;
}
searchbar.icon{
    color:#f74053;
}
.cd19-news{
text-align: center;
}