<ion-header>
  <ion-toolbar class="ion-padding" color="danger">
    <ion-row>
        <ion-searchbar class="ion-padding" placeholder="Para onde você vai?"
        [(ngModel)]="queryText" (ionInput)="FilterCidade($event)" clearInput>
      </ion-searchbar>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-item *ngFor="let cidade of cidades">
      <ion-card class="ion-padding" [routerLink]="['/detalhes', cidade.id]">
        <ion-img src="{{cidade.foto}}"></ion-img>
        <hr>
        <ion-card-title>{{cidade.name}}</ion-card-title>
        <ion-card-subtitle>
          <ion-icon name="map-outline" color="danger"></ion-icon>{{cidade.locais}} &nbsp; <ion-icon name="star"
            color="danger"></ion-icon> {{cidade.nota}}
        </ion-card-subtitle>
        <ion-card-content>
          {{cidade.descricao}}
        </ion-card-content>
      </ion-card>

    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-button fill="clear" routerLink="/explore"><ion-icon name="home-outline"></ion-icon> &nbsp; Voltar à página de sugestões</ion-button>
</ion-footer>

