<ion-content>
  <div>
    <ion-row>
      <ion-col>
        <ion-header>
          <div class="header">
            <span class="ion-float-start ion-padding">
              <a class="arrow-button" href="../login">←</a>
            </span>
          </div>
        </ion-header>
      </ion-col>
    </ion-row>
  </div>
  <div class="background ion-padding-horizontal">
      <ion-row>
        <ion-col>
          <img src="assets/img/login_logo.png">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-input class="botao-entrar" placeholder="E-mail"></ion-input>
            <hr>
            <ion-input class="botao-entrar" placeholder="Senha"></ion-input>
            <hr><hr>
            <ion-row>
              <ion-col width-50 style="text-align: center">
                <ion-button color="primary" routerLink="/explore">Entrar</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-content>
