<ion-header>
  <ion-row class="ion-align-items-center">
    <ion-col>
      <div class="ion-float-start ion-padding">
        <span>
          <ion-back-button color="dark" class="save-button" defaultHref="/login">
          </ion-back-button>
        </span>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <span class="ion-float-end ion-padding">
          <ion-text color="light" class="save-button">Login</ion-text>
        </span>
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>
  <div class="background ion-padding-horizontal">
      <ion-row>
        <ion-col>
          <img src="assets/img/login_logo.png">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-input id="email" type="text" class="botao-entrar ion-padding" placeholder="E-mail"></ion-input>
            <hr>
            <ion-input id="pass" type="password" class="botao-entrar ion-padding" placeholder="Senha"></ion-input>
            <hr><hr>
            <ion-row>
              <ion-col width-50 style="text-align: center">
                <ion-button color="light" (click) = "entrar()">Entrar</ion-button>
              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-content>