.background{
    background-color: #fff !important;
    height: 100% !important;
    width: 100% !important;
}
button {
    padding: 10px 20px;
    width: 100%;
    margin-top: 16px;
    border-radius: 8px;
}
.botao-entrar{
    background: #eb445a;
    color: white;
    font-size: 1.4em;
}
.botao-entrar:hover{
    background: white;
}
