.save-button {
    font-size: 1.5em;
    text-decoration: none;
    color: danger;
  }

  ion-header {
    background-color: #ff4961;
  }
  ion-header {
    border: 1 px solid black;
  }
  hr{
      color:black;
  }