.arrow-button {
  color: black;
  text-decoration: none;
}

.save-button {
  font-size: 1.5em;
  color: black;
  text-decoration: none;
}

ion-grid{
  width: 360;
}

.editCard{
  border-left: 3px solid #f66574;
}

ion-textarea{
  border: 1px solid black;
  border-radius: 8px;
}

.borderInput{
  border: 1px solid black;
  border-radius: 8px;
}


