.blackText{
  color: black;
}

ion-content{
  --ion-background-color: #f5f6f9;
}

ion-card{
  --ion-background-color: white;
}

ion-grid{
  width: 360;
}

.editCard{
  border-left: 3px solid yellow;
}

ion-textarea{
  border: 1px solid black;
}

.borderInput{
  border: 1px solid black;
}

