<ion-header>
  <ion-row class="ion-align-items-center">
    <ion-col>
      <div class="ion-float-start ion-padding">
        <span>
          <ion-back-button color="dark" class="save-button" [routerLink] = "['/detalhes', home.id]">
          </ion-back-button>
        </span>
      </div>
    </ion-col>
    <ion-col>
      <div>
        <span class="ion-float-end ion-padding">
          <ion-text color="dark" class="save-button">Reserva</ion-text>
        </span>
      </div>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-card class="ion-padding">
      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-avatar>
            <ion-img
              src={{home.foto}}>
            </ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col size="auto">
          <ion-text class="medium">{{home.descricao}}</ion-text>
          <strong></strong>
          <ion-card-title><strong>{{home.name}}</strong></ion-card-title>
          <strong></strong>
          <ion-card-subtitle color="medium">{{home.qtdCamas}} camas . {{home.qtdBanheiro}} banheiros</ion-card-subtitle>
          <strong></strong>
          <ion-row>
            <ion-col size="auto">
              <ion-icon name="star" color="danger"></ion-icon>
              <ion-text><strong>{{home.nota}}</strong></ion-text>
            </ion-col>
            <ion-col size="auto">
              <ion-icon name="diamond-outline" color="danger"></ion-icon>
              <ion-text color="medium"><strong>Superhost</strong></ion-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

  <ion-grid>
    <ion-card class="ion-padding">
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-card-title><strong> Sua viagem</strong></ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <h5><strong>Datas</strong></h5>
          <ion-text color="medium"> {{initDate | date}} <strong>até</strong> {{finishDate | date}}</ion-text>
        </ion-col>
        <ion-col size="auto">
          <ion-button (click)="editDate()" color="danger" size="small">Editar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="editDate2 && close" class="ion-align-items-center">
        <ion-col>
          <ion-datetime displayFormat="D MMM YYYY" min="2021" max="2024" placeholder="Check-in" [(ngModel)]="initDate"></ion-datetime>
          <hr color=#fff>
          <ion-datetime displayFormat="D MMM YYYY" min="2021" max="2024" placeholder="Check-out" [(ngModel)]="finishDate"></ion-datetime>
        </ion-col>
        <ion-col size="auto">
          <ion-button color="danger" (click)="closed()" fill="clear">
            <ion-icon name="close-sharp"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-col>
          <h5><strong>Hóspedes</strong></h5>
          <ion-text color="medium">{{qtdGuest}} Adultos . {{qtdGuestKids}} Crianças</ion-text>
        </ion-col>
        <ion-col size="auto">
          <ion-button (click)="editGuest()" color="danger" size="small">Editar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="editGuest2 && saveGuest" class="ion-align-items-center">
        <ion-col>
          <ion-text><strong>Adultos</strong></ion-text>
        </ion-col>
        <ion-col size="auto">
          <ion-button color="danger" fill="clear" (click)="removeGuest()">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>
          <ion-text>{{qtdGuest}}</ion-text>
          <ion-button color="danger" fill="clear" (click)="addGuest()">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="editGuest2 && saveGuest">
        <ion-col>
          <ion-text><strong>Crianças</strong></ion-text>
        </ion-col>
        <ion-col size="auto" class="ion-align-items-center">
          <ion-button color="danger" fill="clear" (click)="removeGuestKids()">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>
          <ion-text>{{qtdGuestKids}}</ion-text>
          <ion-button color="danger" fill="clear" (click)="addGuestKids()">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="editGuest2 && saveGuest" class="ion-align-items-center">
        <ion-col>
          <ion-button color="danger" fill="clear" (click)="clear()" size="small">Limpar</ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button color="danger" (click)="closed2()" size="small">Salvar</ion-button>
        </ion-col>
      </ion-row>

      <hr color=#DCDCDC>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <h5><strong>Esta é uma viagem a trabalho?</strong></h5>
        </ion-col>
        <ion-col size="auto">
          <ion-toggle color="danger" [(ngModel)]="optionWork"></ion-toggle>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="optionWork" class="ion-align-items-center">
        <ion-col>
          <h5 class="blackText"><strong>Motivo da Viagem (opcional)</strong></h5>
          <p color="medium">Adicione uma observação para fins de declaração de gasto.</p>
        </ion-col>
        <ion-col size="auto" *ngIf="addWork">
          <ion-button (click)="textWork()" color="danger" size="small">
            <ion-icon name="add-outline" slot="start"></ion-icon>ADD
          </ion-button>
        </ion-col>
        <ion-col *ngIf="removeWork" size="auto">
          <ion-button (click)="textWork()" color="danger" size="small">Editar</ion-button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="textWork2 && savedWork && optionWork" class="ion-align-items-center">
        <ion-col>
          <ion-textarea class="ion-padding" [(ngModel)] = "travelWork"></ion-textarea>
        </ion-col>
        <ion-col size="auto">
          <ion-button (click)="saveWork()" color="danger">
            <ion-icon name="checkmark-done-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

  <ion-grid>
    <ion-card class="ion-padding">
      <ion-row>
        <ion-col>
          <ion-card-title><strong> Informações de preço</strong></ion-card-title>
        </ion-col>
      </ion-row>
      <hr color=#fff>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-text color="medium"> {{ priceDay | currency:'BRL':true:'1.2-2'}} x {{days}}</ion-text>
        </ion-col>
        <ion-col size="auto">
          <ion-text color="medium">{{priceTotalDays | currency:'BRL':true:'1.2-2'}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-text color="medium">Desconto semanal de {{deductionWeek}}%</ion-text>
        </ion-col>
        <ion-col size="auto">
          <ion-text color="danger">{{deductionWeekTotal | currency:'BRL':true:'1.2-2'}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-text color="medium">Taxa de Limpeza</ion-text>
        </ion-col>
        <ion-col size="auto">
          <ion-text color="medium">{{cleaningFee | currency:'BRL':true:'1.2-2'}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-text color="medium">Taxa de Serviço</ion-text>
        </ion-col>
        <ion-col size="auto">
          <ion-text color="medium">{{serviceFee | currency:'BRL':true:'1.2-2'}}</ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-text><strong>Total (BRL)</strong></ion-text>
        </ion-col>
        <ion-col size="auto">
          <ion-text><strong>{{totalCost | currency:'BRL':true:'1.2-2'}}</strong></ion-text>
        </ion-col>
      </ion-row><br><br>
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="auto">
          <ion-button (click)="moreInfo()" color="danger" size="small">Mais informações</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

  <!--Grid que pega as informações do boleto-->
  <ion-grid>
    <ion-card class="ion-padding">
      <ion-row>
        <ion-col>
          <ion-card-title><strong> Pague com</strong></ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center">
        <ion-col>
          <ion-card-subtitle>
            <strong>Forma de pagamento</strong>
          </ion-card-subtitle>
        </ion-col>
        <ion-col size="auto" *ngIf="editAddPay">
          <ion-button (click)="presentModal()" color="danger">
            <!--Botão que chama o modal de pagamento-->
            <ion-icon slot="start" name="wallet-outline"></ion-icon>ADD
          </ion-button>
        </ion-col>
        <ion-col size="auto" *ngIf="!editAddPay">
          <ion-col size="auto">
            <ion-button (click)="presentModal2()" color="danger" size="small">Editar</ion-button>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

  <ion-grid>
    <ion-card class="editCard ion-padding">
      <ion-row>
        <ion-col>
          <ion-card-title><strong> Política de Cancelamento</strong></ion-card-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p color="medium" style="text-align: center">Cancelamento gratuito por 48 horas. Depois disso, cancele até 24
            horas antes do dia do check-in e receba 50% de reembolso, menos a taxa de serviço.</p>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col width-50 style="text-align: center">
        <ion-button (click)="booking()" color="danger">
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>Pedir para reservar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
