.arrow-button {
  text-decoration: none;
}

.save-button {
  font-size: 1.5em;
  text-decoration: none;
  color: danger;
}

ion-grid{
  width: 360;
}

.editCard{
  border-left: 3px solid #f66574;
}

ion-textarea{
  border: 1px solid black;
  border-radius: 8px;
}

.borderInput{
  border: 1px solid black;
  border-radius: 8px;
}

ion-header {
  border: 1 px solid black;
}

ion-card {
  background-color:#fff;
}

ion-select {
  background-color: #fff;
  color: #000;
}

ion-header {
  background-color: #ff4961;
}

