<ion-header>
  <ion-toolbar color = "primary">
    <ion-title>Detalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="ion-activatable ripple-parent" class="ion-pedding">
    <img src="https://images.pexels.com/photos/209315/pexels-photo-209315.jpeg?cs=srgb&dl=pexels-pixabay-209315.jpg&fm=jpg">
    <ion-card-header>
      <ion-row>
        <ion-col class= "image-card" class="ion-activatable ripple-parent">
          <img src="https://images.pexels.com/photos/6315798/pexels-photo-6315798.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        </ion-col>
        <ion-col class= "image-card" class="ion-activatable ripple-parent">
          <img src="https://images.pexels.com/photos/6315808/pexels-photo-6315808.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
        </ion-col>
        <ion-col class= "image-card" class="ion-activatable ripple-parent">
          <img src="https://images.pexels.com/photos/6315799/pexels-photo-6315799.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940">
        </ion-col>
        <ion-col  class= "image-card" class="ion-activatable ripple-parent">
        <img src="https://images.pexels.com/photos/6315803/pexels-photo-6315803.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>


  

</ion-content>
