.image-card {
    img{
        width: 100%;
        object-fit: cover;
    }
 }

 ion-content{
    --ion-background-color: #f5f6f9;
  }

  ion-card{
    --ion-background-color: white;
  }
  
  .blackText{
    color: black;
  }
    
  ion-icon{
    color: black;
  }

  .save-button {
    font-size: 1.5em;
    text-decoration: none;
  }